*{
    box-sizing: border-box;
}

body {
    font-size: 16px;
    color: #fff;
    background-color: rgb(17,68,84);
    font-family: 'Oxygen', sans-serif;
    
}

header{
    margin-bottom: 20px;
    background-color: rgb(43,21,21); 
    font-size: 90%;
    margin-left: 2%;
    margin-right: 2%;
}
h1,h2{
    text-align: center;
}
.active{
    color: #fff;
    background-color: rgb(17,68,84);
}

.nav-menu{
   padding: 2%;
   text-align: center;
}

a{
    color: rgb(242,242,242);
}
.del{
    text-decoration: none;
    color: rgb(43,21,21);
}

nav .nav-page{
    margin-top: 100px;
    padding: 1em;
    text-decoration: none;
}

.nav-menu a:hover, .nav-menu a:focus {
    text-decoration: none;
    background-color: rgb(17,68,84);
}


.left-sec {
    width: 50%;
    margin-right: 2%;
    float: left;
    max-height: 20px;

}
img {
    max-width: 50%;
    max-height: 600px;
    border-radius: 2%;
    float: left;
    padding : 30px;
}
.fa {
    padding: 20px;
    font-size: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}
.fa-linkedin {
    background: #007bb5;
    color: white;
}

.fa-instagram {
    background: #125688;
    color: white;
 }
 .fa-github {
    background: black;
    color: white;
  }

  /** Styling Skills**/
table {
    border-collapse: collapse;
    width: 100%;
}
  
table, td, th {
    border: 2.5px solid rgb(43,21,21);
}

th, td {
    height: 50px;
    text-align: center;
}
th{
    font-size: larger;
    font-weight: bold;
}

td a{
    text-decoration: none;
}

footer{
    font-size: 100%;
    color: rgb(242,242,242);
    text-align: center;
    margin-bottom: 5%;
    clear: both;
  }

  .grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: rgb(17,68,84);
    padding: 10px;
  }
  .grid-item {
    background-color: rgb(242,242,242);
    padding: 20px;
    font-size: 1.1em;
    text-align: center;
  }

details{
    background-color: rgb(242,242,242); 
    color:  rgb(17,68,84);
    font-weight: bold;
    border: 2px solid rgb(43,21,21);
    border-radius: 5%;
}
